.flight-booking__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flight-booking__form {

}


.flight-booking__input{
  border-radius: 5px;
  border: 1px solid #ccc;
  flex-grow: 1;
  padding-inline: 0 !important
}

.flight-booking__button {
}