.flight-search-row__text {
  color: #ffd700;
  padding: auto;
}

.flight-search-row__flight-number-text {
  font-size: 1.2em;
  font-weight: bold;
}

.flight-search-row__flight-time-text {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #2a6fac;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}

.flight-search-row__flight-price-text {
  font-size: 1.2rem;
  font-weight: bold;
  background-color: #2a6fac;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  transition: all 0.3s ease;
}